# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# Environment variables
.env
.env.*

# Django database
db.sqlite3
db.sqlite3-journal

# Django logs
*.log

# Static & media build folders
staticfiles/
media/

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# Cache
.cache/
.pytest_cache/
.mypy_cache/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Coverage / testing
htmlcov/
.coverage
.coverage.*

# Node (if you use frontend)
node_modules/

# Jupyter
.ipynb_checkpoints

# GitHub workflows


# Temporary files
*.swp
*.tmp
*.bak


.gitignore